%h1.fs-2.mb-3 #{l(@room_availability.date)} 空室情報編集

= simple_form_for([:administrators, @accommodation, @room_type, @room_availability]) do |f|
  = f.input :remaining_rooms
  = f.button :submit, class: 'btn-primary'
